* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  background: linear-gradient(335deg, #283a4e, #3b4b87);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.maincard {
  width: 90%;
  max-width: 342px;
  background: linear-gradient(2deg, #3a8defd9, #df5151);
  color: white;
  /* margin: 100px auto 0; top,left-right,bottom */
  border-radius: 20px;
  padding: 25px 18px; /*top-bottom,left-right*/
  text-align: center;
}

.searchbox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sameproperty {
  border: none;
  outline: none;
  background: #ebfffc;
}

.searchbox input {
  width: 100%;
  color: #555;
  padding: 8px 18px;
  margin-right: 16px;
  border-radius: 25px;
  font-size: 16px;
  height: 45px;
  flex: 1; /*Grow to fill available space,Shrink if necessary*/
}

.searchbox button {
  border-radius: 50%; /*makes it circle*/
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.searchbox button img {
  width: 16px;
}

.weather-icon {
  width: 120px;
  margin-top: 10px;
}

.weather h1 {
  font-size: 70px;
  font-weight: 500;
  margin-top: -4px;
}

.weather h2 {
  font-size: 55px;
  font-weight: 400;
  margin-top: -10px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin-top: 36px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col img {
  width: 36px;
  margin-right: 10px;
}

.weather {
  display: none;
}

.errormsg {
  text-align: center;
  margin-top: 16px;
  display: none;
  
}
@media (max-width: 354px) {
  .details {
    flex-direction: column;
    gap: 20px;
    margin-top: 24px;
  }
}
